@use "../variables/couleurs";
//pagination GÉNÉRAL
.global {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px 60px 20px 20px;
}

.destinations-item:hover {
  background-color: rgb(27, 27, 27, 0.6);
  color: var(--couleur2);
}

.global.hero {
  min-height: 80dvh;
  max-width: 1520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filtrePost-content {
  color: red;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.4);
}

.destinations-item {
  color: #1b1b1b;
}
.hero__contenu {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1,
  & p,
  & a {
    margin: 0;
  }

  & .hero__cta {
    background-color: hsl(36, 100%, 90%, 0.6);
    padding: 5px;
    border-radius: 8px;
    font-weight: 600px;
    font-size: large;
    box-shadow: 3px 3px 3px #1b1b1b;
  }
  & h1 {
    margin-bottom: 2rem;
  }
  & p {
    margin-bottom: 1rem;
  }
}
.hero-newsletter {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;

  & .hero-newsletter-form {
    padding: 10px;
    background-color: rgb(255, 235, 205, 0.6);
    box-shadow: 3px 3px 3px #1b1b1b;
  }
}

@include couleurs.applique_bg-color_color(
  ".entete",
  couleurs.$couleur1,
  couleurs.$couleur2
);
@include couleurs.applique_bg-color_color(
  ".principal",
  couleurs.$couleur3,
  couleurs.$couleur1
);
@include couleurs.applique_bg-color_color(
  ".pied",
  couleurs.$couleur1,
  couleurs.$couleur2
);
.pied {
  & .pied__global {
    display: flex;
    flex-direction: column;
    & p {
      max-width: 80ch;
    }
    & .range1 {
      & .footer__search_form {
        align-self: center;
      }
    }
    & .range2 {
      display: flex;
      gap: 50px;

      & .colonne2 {
        display: flex;
        flex-direction: column;
        text-align: center;

        .pied__img-frame {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%; // Prend tout l'espace disponible horizontalement
          max-width: 125px; // Limite la largeur maximale à 125px
          height: auto;
          max-height: 125px; // Limite la hauteur à 125px
          overflow: hidden;
          border-radius: 15px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          margin-left: auto; // Aligne le cadre à droite dans colonne2

          img {
            width: 130%;
            height: 130%;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
}
