.global {
  width: 1100px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
}

.entete {
  background-color: aqua;
}

.principal {
  background-color: blueviolet;
}
.pied {
  background-color: violet;
}
