//pagination GÉNÉRAL
.global {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
}

@include applique_bg-color_color(".entete", $couleur1, $couleur2);
@include applique_bg-color_color(".principal", $couleur3, $couleur1);
.pied {
  & .pied__global {
    display: flex;
    & p {
      max-width: fit-content;
    }
  }
}
@include applique_bg-color_color(".pied", $couleur1, $couleur2);
