.principal__conteneur {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.principal__article {
  border: 1px solid black;
  max-width: 300px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}
