.principal__conteneur {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.principal__article {
  border: 1px solid black;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease;

  &:only-child {
    width: fit-content;
  }

  &:not(:only-child) {
    &:first-child,
    & + .principal__article {
      width: 300px;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  cursor: pointer;
}

.article-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.blocflex {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
