.entete__nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  max-width: fit-content;
  gap: 0.8rem;
  list-style-type: none;
  padding-inline-start: 0;
}

.menu-item {
  max-width: fit-content;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  & a {
    position: relative;
    cursor: pointer;
    color: #efefee;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
  }
  & a::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
  }

  & a:hover {
    color: black;
  }

  & a:hover::after {
    scale: 1 1;
  }
}
